.topBar ul .active {
    border-top: none !important;
}

.topBar ul .active a {
    color: #000;
}

.filtres {
    gap: 22px !important;
}

.hosting {
    flex-direction: column;
}

.hosting .popular {
    margin-left: 0 !important;
    margin-top : 53px;
}

.popular .offers {
    flex-direction: row !important;
    gap: 23px;
}

.popular .offers article div {
    padding: 12px 12px 0 10px;
}

.popular .offers article img {
    height: 200px !important;
    width: 101px !important;
}

.popular .offers article h4 {
    font-size: 14px;
    line-height: 16px;
}

.popular .offers article p {
    font-size: 13px;
    line-height: 15px;
}

.activity div article img {
    height: 211px !important;
}

.activity div article h4 {
    padding: 7px 19px !important;
}